
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* .container{
    width: 400px;

} */

/* #controls i{
    font-size: 30px;
    color:purple;
    margin-right: 20px;
} */

/* #progress{
    margin-bottom: 20px;
}
#progress-bar{
    width: 100%;
    margin-bottom: 10px;
} */

#progress .times,
.card-footer,
.volume-container
/* #controls*/{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* #music-image{
    width: 100%;
    
} */
li.playing{
    background-color: #0b5eb7;
    color: #fff;
}